{% extends "base.html" %}

{% load static %}

{% block body %}

<section class="text-center">
    <div class="container info-container">
        <div class="row">
            <div class="col" style="padding: 0;width: 100%;height: 100%;">
                <div class="d-flex"><img class="img-responsive center-block" src="{{product_detail.image.url}}" width="100%" style="width: 100%;"></div><button class="btn btn-info btn-block" type="button" style="width: 100%;">CHAT WITH SELLER</button>
            </div>
            <div class="col align-self-center" style="height: 100%;padding-right: 0;">
                <div class="center-block" style="border-radius: 10px;background: #e4e4e4;width: 100%;">
                    <h2 id="title" class="p-info" style="font-size: 38px;padding-left: 0px;padding-right: 12px;">{{product_detail.name}}</h2>
                    <h3 id="location" class="p-info">Category: {{product_detail.category}}</h3>
                    <h3 id="brand" class="p-info">Brand: {{product_detail.brand}}</h3>
                    <h3 id="cond" class="p-info">Condition: {{product_detail.condition}}</h3>
                    <h3 id="date" class="p-info">Posted at: {{product_detail.created}}</h3>
                    <h3 class="text-warning p-info" id="price">price: {{product_detail.price}}</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col" style="padding: 0;">
                <div style="padding: 1rem 1rem;width: auto;margin: 1rem 0;font-size: 17px;background: #d3e0ea;border-radius: 10px;">
                    <h3 class="text-left">Description:</h3>
                    <p class="text-left">{{product_detail.description}}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col" style="padding: 0;">
                <div style="padding: 1rem 1rem;width: auto;margin: 1rem 0;font-size: 17px;background: #3a75c4;border-radius: 10px;height: auto;">
                    <h3 class="text-left">Seller Info:</h3>
                    <p class="text-left d-inline-flex float-right" style="width: 78%;">{{product_detail.owner}} <br> Phone number : xxxx-xxxxxxx <br> email address : ''''@''''''.'''' </p>
                    <div style="width: 20%;"><img src="{% static 'assets/img/testimonials-2.jpg' %}" style="width: 100%;"></div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock body %}