
{% extends "base.html" %}

{% load static %}


{% block body %}

<header class="text-center text-white masthead" style="background:url({% static 'assets/img/banner.jpg' %})no-repeat center center;background-size:cover;">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-xl-9 mx-auto">
				<h1 class="mb-5">WHAT ARE YOU LOOKING FOR?</h1>
			</div>
			<div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
				<form method="GET" action="{% url 'products:search' %}">
					<div class="form-row">
						<div class="col-10 mb-2 mb-md-0"><input class="form-control form-control-lg" type="search" name="q" placeholder="Find Games Here..." required></div>
						<div class="col-2 col-xl-2"><button class="btn btn-primary btn-block btn-lg float-right" type="submit" style="width: 100px;padding: auto;"><i class="fa fa-search"></i></button></div>
					</div>
				</form>
			</div>
		</div>
	</div>
</header>
<section class="text-center">
	<h1>PRODUCT CATALOG</h1>
	<div class="container-fluid">
		<div class="row" style="margin: 0 3%;">
			{% for product in product_list %}
				<div class="col-lg-3 col-md-4 col-sm-6">
					<a class="ad-box" href="{% url 'products:product_detail' product.slug %}">
					<div class="mx-auto mb-5 mb-lg-3">
						<div style="height: 240px;">
							<img class="ad" src="{{ product.image_url|default_if_none:'#' }}" alt="{{product.name}}" style="margin: 10px 0;width: 100%;height: 100%;overflow: hidden;object-fit: cover;">
							<span class="badge badge-warning">{{product.price}}</span>
							{% if product.featured != "z" %}
							<i class="fa fa-star fa-2x" style="color: #FFC107; position: absolute; top:30px;left:30px;"></i>
							{% endif %}
						</div>
						<h3 style="margin: 20px 0 0;">{{product.name}}</h3>
					</div>
					</a>
				</div>
			{% endfor %}
		</div>
	</div>
</section>

<script>
    $(document).ready(function(){
        $("#searchbar").css("display","none");
    });
</script>
{% endblock body %}