{% extends "base.html" %} {% load static %} {% block body %}

<div class="container">
  <div class="row">
    <div class="col-3 mt-4">
      <h5> PRICE </h5>
      <p>Choose a price range below</p>
      <input type="number" id="min-price" class="form-group" size="8" placeholder="min" />
      to
      <input type="number" id="max-price" placeholder="max" class="form-group" size="8" />
      <button type="button" class="btn btn-primary" style="margin-left: 60px;" onclick="price()">Apply</button>
    </div>
    <div class="col-9 my-4">
      <span style="font-size: 22px;">
        Sort By:
      </span>
      <div class="dropdown" style="display: inline-block;">
        <button style="background: transparent; color: #000000;" class="btn btn-secondary dropdown-toggle" type="button"
          id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Name
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" onclick="sort('name')">Name</a>
          <a class="dropdown-item" onclick="sort('date')">Date</a>
          <a class="dropdown-item" onclick="sort('priceh')">Price-High</a>
          <a class="dropdown-item" onclick="sort('pricel')">Price-Low</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="offset-3 col-9">
      {% if product_list %}
      <!-- product -->
      {% for product in product_list %}
      <a class="ad-box" href="{% url 'products:product_detail' product.slug %}">
        <div class="card mb-3" style="max-width: 700px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img class="ad img-fluid" src="{{ product.image_url|default_if_none:'#' }}" alt="{{product.name}}">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <h6 class="price" style="color: #FFC107">{{product.price}} </h6>
                <p class="card-text">{{product.description}}</p>
                <p class="card-text"><small class="text-muted">{{product.created}}</small></p>
              </div>
            </div>
          </div>
        </div>
      </a>
      {% endfor %}

      {% else %}
      <section style="padding: 0 0 30% 0; text-align:left">
        <h4 style="color: #A52A2A">No Results Found</h1>
      </section>
      {% endif %}
    </div>

  </div>
</div>

{% endblock body %}