{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <csrftoken>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <title>RIGGED</title>
    <link rel="icon" href="{% static 'assets/img/icon.png' %}" />
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic"/>
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome-all.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/fonts/font-awesome.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome5-overrides.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/css/Drag--Drop-Upload-Form.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/css/Search-Field-With-Icon.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/chat.css' %}" />
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
  </head>

  <body>

    <div id="main">
      <div id="app"></div>
    </div>

    <script src="{% static 'assets/js/main.js' %}"></script>
    <script src="{% static 'assets/js/script.js' %}"></script>
  </body>
</html>
