{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <csrftoken>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>RIGGED</title>
    <link rel="icon" href="{% static 'assets/img/icon.png' %}" />
    <link
      rel="stylesheet"
      href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/fonts/fontawesome-all.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/fonts/font-awesome.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/fonts/fontawesome5-overrides.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/css/Drag--Drop-Upload-Form.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/css/Search-Field-With-Icon.css' %}"
    />
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/chat.css' %}" />
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
  </head>

  <body>
    <nav class="navbar navbar-light navbar-expand sticky-top navigation-clean">
      <div class="container">
        <a class="navbar-brand" href="/api">
          <img
            src="{% static 'assets/img/logo.png' %}"
            alt="RIGGED logo"
            style="height: 50px"
          />
        </a>
        <div class="dropdown" style="margin-right: auto">
          <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            All Categories
          </button>
          <form id="category_menu" method="GET" action="{% url 'api:search' %}">
            <ul
              class="dropdown-menu"
              name="category"
              style="margin-bottom: 5px"
              aria-labelledby="dropdownMenuButton"
            >
              {% for category in category_list%}
              <li>
                <a
                  class="dropdown-item"
                  href="/api/search?category={{category.category_name}}"
                >
                  {{category.category_name}}
                </a>
              </li>
              {% endfor %}
            </ul>
          </form>
        </div>
        <form
          id="searchbar"
          class="input-group"
          method="GET"
          action="{% url 'api:search' %}"
          style="width: 30%"
        >
          <input
            type="text"
            aria-label="First name"
            class="form-control"
            placeholder="What are you looking for..."
            name="q"
            required
          />
          <div class="input-group-prepend" style="cursor: pointer">
            <button type="submit" class="input-group-text">Search</button>
          </div>
        </form>

        <a class="btn btn-primary ml-auto nav-b" role="button" id="login-b">
          Log In | Sign Up
        </a>
        <a class="btn btn-primary nav-b" role="button" id="post-ad">Post Ad</a>
      </div>
    </nav>

    <div id="LoginModal" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg" role="content">
        <div class="modal-content">
          <div class="modal-header">
            <div class="col-8">
              <h4 class="modal-title">Login</h4>
            </div>
            <div class="col-3">
              <button
                id="register-m"
                style="bottom: 0"
                class="btn btn-primary btn-sm ml-1 float-right"
              >
                Register
              </button>
            </div>
            <div class="col-1">
              <button
                class="btn"
                style="top: 0; padding: 0"
                data-dismiss="modal"
              >
                <i class="fa fa-times"></i>
              </button>
            </div>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-row">
                <div class="form-group col-sm-4">
                  <label class="sr-only" for="usrname">User Name</label>
                  <input
                    type="text"
                    class="form-control form-control-sm mr-1"
                    id="usr-name"
                    value=""
                    placeholder="Enter User Name"
                  />
                </div>
                <div class="form-group col-sm-4">
                  <label class="sr-only" for="usrpwd">Password</label>
                  <input
                    type="password"
                    class="form-control form-control-sm mr-1"
                    id="usr-pwd"
                    value=""
                    placeholder="Enter Password"
                  />
                </div>
              </div>
              <div class="form-row">
                <button
                  type="button"
                  class="btn btn-secondary btn-sm ml-auto"
                  data-dismiss="modal"
                >
                  Cancel
                </button>
                <button
                  type="submit"
                  class="btn btn-primary btn-sm ml-1"
                  id="login-s"
                >
                  Sign in
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div id="RegisterModal" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg" role="content">
        <div class="modal-content">
          <div class="modal-header">
            <div class="col-8">
              <h4 class="modal-title">Register</h4>
            </div>
            <div class="col-3">
              <button
                id="login-m"
                style="bottom: 0"
                class="btn btn-primary btn-sm ml-1 float-right"
              >
                Login
              </button>
            </div>
            <div class="col-1">
              <button
                class="btn"
                style="top: 0; padding: 0"
                data-dismiss="modal"
              >
                <i class="fa fa-times"></i>
              </button>
            </div>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-row">
                <div class="form-group col-12">
                  <label class="sr-only" for="name">Enter Name</label>
                  <input
                    type="text"
                    class="form-control form-control-sm mr-1"
                    name="name"
                    placeholder="Enter Name"
                  />
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-12">
                  <label class="sr-only" for="usr-name">Enter User Name</label>
                  <input
                    type="text"
                    class="form-control form-control-sm mr-1"
                    name="usr-name"
                    placeholder="Enter User Name"
                  />
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-12">
                  <label class="sr-only" for="usr-email">Enter Email</label>
                  <input
                    type="email"
                    class="form-control form-control-sm mr-1"
                    name="usr-email"
                    placeholder="Enter Email"
                  />
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-12">
                  <label class="sr-only" for="usr-location">Location</label>
                  <input
                    type="text"
                    class="form-control form-control-sm mr-1"
                    name="usr-location"
                    placeholder="Location (City)"
                  />
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-12">
                  <label class="sr-only" for="usr-no">Phone Number</label>
                  <input
                    type="text"
                    class="form-control form-control-sm mr-1"
                    name="usr-no"
                    placeholder="Phone Number"
                  />
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-12">
                  <label class="sr-only" for="usr-pwd">Enter Password</label>
                  <input
                    type="text"
                    class="form-control form-control-sm mr-1"
                    name="usr-pwd"
                    placeholder="Enter Password"
                  />
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-12">
                  <label class="sr-only" for="confirm-pwd"
                    >Confirm Password</label
                  >
                  <input
                    type="text"
                    class="form-control form-control-sm mr-1"
                    name="confirm-pwd"
                    placeholder="Confirm Password"
                  />
                </div>
              </div>
              <div class="form-row">
                <button
                  type="button"
                  class="btn btn-secondary btn-sm ml-auto"
                  data-dismiss="modal"
                >
                  Cancel
                </button>
                <button
                  type="submit"
                  class="btn btn-primary btn-sm ml-1"
                  id="login-s"
                >
                  Register
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div id="main">
      <div id="app"></div>
    </div>

    <script src="{% static 'assets/js/main.js' %}"></script>
    <script src="{% static 'assets/js/script.js' %}"></script>
    <script>
      $("#login-b").click(function () {
        //if (loggedin) {
        //  document.getElementById("login-b").innerHTML = "Log In | Sign Up";
        //  loggedin = 0;
        //} else {
        $("#LoginModal").modal("show");
        //}
      });
      $("#register-m").click(function () {
        $("#LoginModal").modal("hide");
        $("#RegisterModal").modal("show");
      });
      $("#login-m").click(function () {
        $("#RegisterModal").modal("hide");
        $("#LoginModal").modal("show");
      });
      //   $("#login-s").click(function () {
      //    if (user == document.getElementById("usr-name").value) {
      //      if (pwd == document.getElementById("usr-pwd").value) {
      //        loggedin = 1;
      //        if (document.getElementById("usr-rem").checked) {
      //          rem_u = user;
      //          rem_p = pwd;
      //        }
      //        document.getElementById("login-b").innerHTML = "Log Out";
      //        $("#LoginModal").modal("hide");
      //      }
      //     }
      //   });
      $("#post-ad").click(function () {
        // if (loggedin){
        //     window.location.href = "post.html"
        // } else {
        //     $('#LoginModal').modal('show');
        // }
        window.location.href = "/post";
      });
    </script>

    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 text-center text-lg-left my-auto h-100">
            <ul class="list-inline mb-2">
              <li class="list-inline-item"><a href="#">About</a></li>
              <li class="list-inline-item"><span>⋅</span></li>
              <li class="list-inline-item"><a href="#">Contact</a></li>
              <li class="list-inline-item"><span>⋅</span></li>
              <li class="list-inline-item">
                <a href="#">Terms of &nbsp;Use</a>
              </li>
              <li class="list-inline-item"><span>⋅</span></li>
              <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
            </ul>
            <p class="text-muted small mb-4 mb-lg-0">
              © Brand 2021. All Rights Reserved.
            </p>
          </div>
          <div class="col-lg-6 text-center text-lg-right my-auto h-100">
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <a href="#"><i class="fa fa-facebook fa-2x fa-fw"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="#"><i class="fa fa-twitter fa-2x fa-fw"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="#"><i class="fa fa-instagram fa-2x fa-fw"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
