{% extends "base.html" %}

{% load static %}

{% block body %}

<form method="POST" action=".">{% csrf_token %}
    <label for="name">Title: </label><input type="text" name="name">
    <label for="price">Price: </label><input type="text" name="price">
    <label for="owner">Owner: </label><input type="text" name="owner">
    <label for="brand">Brand: </label><input type="text" name="brand">
    <label for="condition">Condition: </label><input type="text" name="condition">
    <label for="category">Categories</label>
    <select name="category">
        <option value="None" selected="" hidden="">Select a Category for Your Product Here...</option>
        <option value="2">Console</option>
        <option value="4">Gaming Mouse</option>
        <option value="1">Gaming Keyboard</option>
        <option value="3">Headphones</option>
        <option value="5">Graphic Card</option>
        <option value="6">Processor</option>
    </select>
    <label for="description">Description: </label><textarea name="description"></textarea>
    <input type="submit" value="save">

</form>

{% endblock %}